
# HTID:22835877: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 0
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22835877:

<IfModule mod_headers.c>
    # Header set Access-Control-Allow-Origin "https://proyecto-biblioteca-num9991.000webhostapp.com"
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
    Header set Access-Control-Allow-Credentials true
    
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Configuración para permitir solicitudes POST con datos JSON
RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{HTTP:Content-Type} application/json
RewriteRule ^(.*)$ index.php [L,QSA]